* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  line-height: 1.8;
}
.header {
  background-color: #B0E5F9;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
}
.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-item a:hover {
  color: black;
}
.photo {
  border-radius: 50%;
  width: 300px;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.main {
  display: flex;
}
.main-left {
  padding-top: 10px;
  padding-bottom: 20px;
}
.main-left, 
.main-right {
  flex-basis: 50%;
} 
.main-right .section-title{
  margin-right: 0;
}
.section{
  display: flex;
  flex-direction: column;
}
.projects-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
figcaption{
  position: relative;
}
.project-block__name{
  font-size: 18px;
}
.project-block__description{
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 5px;
}
.project-block-img:hover ~ figcaption>.project-block__description{
  display: block;
  z-index: 2;
}
.section-title {
  text-transform: uppercase;
  margin: 20px 20px 20px 0;
  background-color: #B0E5F9;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
}
.project-block-img {
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 0.2s;
}
.project-block-img:hover {
  opacity: 1;
}
.footer {
  background-color: #B0E5F9;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.link {
  text-decoration: none;
  color: white;
}
